* {
    margin: 0;
    padding: 0;
}

.Approot {
    display: flex;
    align-items: center
}

.App {
    display: block;
    padding: 20px;
    color: white;
    background-color: black;
    margin: 60px auto;
    width: 270px;
    height: 100%;
    border: aqua 3px solid;
    border-radius: 5px;
}

.display {
    padding: 20px;
    background-color: aqua;
    margin-bottom: 10px;
    border-radius: 5px;
}

.display b p {
    text-align: center;
    font-size: 35px;
}

.btns {
    border: aqua 3px solid;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    height: 100%;
}

.btns button {
    background-color: aqua;
    padding: 0 10px;
    font-size: 20px;
    border-radius: 8px;
    margin: 10px;

}

.active {
    color: red;
}
